body {
	font-family: "Helvetica Neue", Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	text-shadow: 0 1px 1px rgba(0,0,0,.05);
	color: #34495e;
}

.center { text-align: center; }

.section-title {
	position: relative;
	margin-bottom: 45px;
	font-size: 42px;
	line-height: 70px;
	font-weight: 400;
	letter-spacing: 0.03em;
	text-align: center;
	text-transform: uppercase;
}

.container {
	max-width: 970px!important;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;

	font-size: 18px;
	line-height: 31px;
}

article {
	margin-left: -15px;
	margin-right: -15px;
}

h2 {
	font-size: 53px;
}

h3 {
	font-size: 2em;
	letter-spacing: -1px;
}

h4 {
	font-size: 1.25em;
	letter-spacing: -1px;
}

code, kdb, pre, samp {
	font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
}

pre {
	padding: 8px;
	margin: 0 0 15px;
	font-size: 13px;
	line-height: 1.72222;
	color: inherit;
	background-color: #ffffff;
	border: 2px solid #e7e9ec;
	border-radius: 6px;
	white-space: pre;
}

code {
	padding: 2px 4px;
	font-size: 75%;
	color: #c7254e;
	white-space: nowrap;
	background-color: #f9f2f4;
	border-radius: 4px;
}

ul, ol {
	margin-bottom: 15px;
}

a {
	color: #0092F3;
	text-decoration: none;
}

a:hover {
	color: #0043a9;
}

ul.postslist
{
	li {
		list-style-type: none;
		overflow: hidden;
		margin: 24px 0;

		.postdate {
			float: left;
			color: #bbb;
			width: 10%;
			font-size: 13px;
			min-width: 80px;
		}

		a {
			float: left;
			width: 90%;
		}
	}
}